<% include header %>


<div class="row text-center">
	<p>Select the certified attributes that you wish to retrieve and display on your PDF document.</p>
</div>

<form action="/createdocument/samlreq" method="post">
	
	<div class="panel panel-default">
		
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<h3>Select your country of origin:</h3>
			</div>

			<div class="col-sm-4">
				<div class="form-group">
					<select class="form-control select-country" name="citizenCC">
						<% for(var cc in countryCodes){ %>
							<option value="<%= cc %>"> <%= countryCodes[cc] %> </option>
						<% } %>
					</select>
				</div>
			</div>
		</div>
	</div>

	<!-- Personal Attributes -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<h3>Personal Attributes</h3>
				</div>

				<div class="col-sm-5 attributes-main-selector">
					<input type="radio" name="personalAttributes" value="req" onclick="selectAll('personal', 'req')"><label for="personalAttributes">Request</label>
					<input type="radio" name="personalAttributes" value="opt" onclick="selectAll('personal', 'opt')" checked="checked"><label for="personalAttributes">Optional</label>
					<input type="radio" name="personalAttributes" value="not" onclick="selectAll('personal', 'not')"><label for="personalAttributes">Do not request</label>
				</div>
				<div class="col-sm-2 text-center">

					<button type="button" class="btn btn-default btn-collapse" aria-label="Left Align" data-toggle="collapse" data-target="#personal-attrs">
  						<span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
					</button>

				</div>
			</div>

		</div>

		<div id="personal-attrs" class="row text-center collapse">
			<div class="col-sm-10 col-sm-offset-1">
				<table class="table">
					<tbody>
					<% var nPersonal = 0;%>
					<% for(var attr in personalAttributes){ %>
					<% nPersonal++; %>
						<tr>
							<td><p class="attribute-name"><%= personalAttributes[attr] %></p></td>
							<td>
								<input id="<%= 'personal'+nPersonal+'req'%>" type="radio" name="<%= attr %>" value="req"><label for="<%= attr %>">Request</label>
								<input id="<%= 'personal'+nPersonal+'opt'%>" type="radio" name="<%= attr %>" value="opt" checked="checked"><label for="<%= attr %>">Optional</label>
								<input id="<%= 'personal'+nPersonal+'not'%>" type="radio" name="<%= attr %>" value="not"><label for="<%= attr %>">Do not request</label>
							</td>
						</tr>
					<% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	
	<!-- Academic Attributes -->

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<h3>Academia Attributes</h3>
				</div>

				<div class="col-sm-5 attributes-main-selector">
					<input type="radio" name="academiaAttributes" value="req" onclick="selectAll('academia', 'req')"><label for="academiaAttributes">Request</label>
					<input type="radio" name="academiaAttributes" value="opt" onclick="selectAll('academia', 'opt')" checked="checked"><label for="academiaAttributes">Optional</label>
					<input type="radio" name="academiaAttributes" value="not" onclick="selectAll('academia', 'not')"><label for="academiaAttributes">Do not request</label>
				</div>
				<div class="col-sm-2 text-center">

					<button type="button" class="btn btn-default btn-collapse" aria-label="Left Align" data-toggle="collapse" data-target="#academia-attrs">
  						<span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
					</button>

				</div>
			</div>

		</div>

		<div id="academia-attrs" class="row text-center collapse">
			<div class="col-sm-10 col-sm-offset-1">
				<table class="table">
					<tbody>
					<% var nAcademia = 0;%>
					<% for(var attr in academiaAttributes){ %>
					<% nAcademia++; %>
						<tr>
							<td><p class="attribute-name"><%= academiaAttributes[attr] %></p></td>
							<td>
								<input id="<%= 'academia'+nAcademia+'req'%>" type="radio" name="<%= attr %>" value="req"><label for="<%= attr %>">Request</label>
								<input id="<%= 'academia'+nAcademia+'opt'%>" type="radio" name="<%= attr %>" value="opt" checked="checked"><label for="<%= attr %>">Optional</label>
								<input id="<%= 'academia'+nAcademia+'not'%>" type="radio" name="<%= attr %>" value="not"><label for="<%= attr %>">Do not request</label>
							</td>
						</tr>
					<% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- Legal Attributes -->

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<h3>Legal Attributes</h3>
				</div>

				<div class="col-sm-5 attributes-main-selector">
					<input type="radio" name="legalAttributes" value="req" onclick="selectAll('legal', 'req')"><label for="legalAttributes">Request</label>
					<input type="radio" name="legalAttributes" value="opt" onclick="selectAll('legal', 'opt')" checked="checked"><label for="legalAttributes">Optional</label>
					<input type="radio" name="legalAttributes" value="not" onclick="selectAll('legal', 'not')"><label for="legalAttributes">Do not request</label>
				</div>
				<div class="col-sm-2 text-center">

					<button type="button" class="btn btn-default btn-collapse" aria-label="Left Align" data-toggle="collapse" data-target="#legal-attrs">
  						<span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
					</button>

				</div>
			</div>

		</div>

		<div id="legal-attrs" class="row text-center collapse">
			<div class="col-sm-10 col-sm-offset-1">
				<table class="table">
					<tbody>
					<% var nLegal = 0;%>
					<% for(var attr in legalAttributes){ %>
					<% nLegal++; %>
						<tr>
							<td><p class="attribute-name"><%= legalAttributes[attr] %></p></td>
							<td>
								<input id="<%= 'legal'+nLegal+'req'%>" type="radio" name="<%= attr %>" value="req"><label for="<%= attr %>">Request</label>
								<input id="<%= 'legal'+nLegal+'opt'%>" type="radio" name="<%= attr %>" value="opt" checked="checked"><label for="<%= attr %>">Optional</label>
								<input id="<%= 'legal'+nLegal+'not'%>" type="radio" name="<%= attr %>" value="not"><label for="<%= attr %>">Do not request</label>
							</td>
						</tr>
					<% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="row text-center">
		<div class="col-sm-12">
			<input type="submit" class="attr-btn btn btn-lg" value="Submit Request">
		</div>
	</div>

</form>

<script>
	$("#breadcrumb").append('<li><a href="/createdocument">Create Document</a></li>');
</script>

<script type="text/javascript">

	var nPersonal = <%= nPersonal %>;
	var nAcademia = <%= nAcademia %>;
	var nLegal = <%= nLegal %>;

	function selectAll(type, opt) {
		switch(type){
			case "personal":
				nAttr = nPersonal;
				break;
			case "academia":
				nAttr = nAcademia;
				break;
			case "legal":
				nAttr = nLegal;
				break;
		}
		for(var i=1; i<nAttr+1; i++){
			var col = document.getElementById(type + i + opt);
			col.checked=true;
		}
	}

</script>

<% include footer %>
